@import "./variables.css";
@import "./global.css";
@import "./header.css";
@import "./round-sidescroller.css";
@import "./footer.css";

* {
  padding: 0px;
  margin: 0px;
}

.breadcrumbs {
  color: var(--font-color-light-400);
  font-style: italic;
  font-weight: 500;
  margin: 32px 0;
}

.breadcrumbs > * {
  padding: 0 4px;
}

.league-banner {
  border-radius: 8px;
  color: var(--font-color-light);
  margin-bottom: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.league-banner__header {
  font-style: italic;
  text-align: center;
  padding: 16px;
  background: transparent
    linear-gradient(104deg, #292a2a 0%, #000000 50%, #292a2a 50%, #111215 100%)
    0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0 0;
}
.league-banner__header--results-display {
  display: grid;
  grid-template-areas: "a a a a a  b c c c c c" "d d d d d e f f f f f";
  gap: 16px;
}

.league-banner__home-team {
  grid-area: a;
}

.league-banner__home-team,
.league-banner__away-team {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: auto 0;
}

.league-banner__home-team > img,
.league-banner__away-team > img {
  object-fit: fill;
  width: 4rem;
  height: 4rem;
  margin: 0 auto 8px auto;
}

.league-banner__results {
  grid-area: b;
}

.league-banner__results :nth-child(1) {
  background-color: var(--bg-alert);
  border-radius: 0.2rem;
  transform: skewX(-10deg);
  text-transform: uppercase;
  color: var(--font-color-light);
  padding: 0.2rem;
  font-weight: 600;
  font-size: small;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
.league-banner__results :nth-child(2) {
  color: var(--font-color-light);
  font-weight: 800;
  padding: 0.2rem;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
}
.league-banner__results :last-child {
  color: var(--font-color-light-400);
  font-weight: 400;
  padding: 0.2rem;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.league-banner__away-team {
  grid-area: c;
}
.league-banner__home-team-points {
  grid-area: d;
  text-align: right;
  color: var(--font-color-light-400);
  line-height: 1.5;
}

.league-banner__points-separator {
  grid-area: e;
  font-weight: 800;
}
.league-banner__away-team-points {
  grid-area: f;
  text-align: left;
  color: var(--font-color-light-400);
  line-height: 1.5;
}

.league-banner__heading {
  padding: 12px;
  font-size: 2.5rem;
  font-weight: 900;
}
.league-banner__nav-container {
  background: #1c1d1d 0% 0% no-repeat padding-box;
  display: flex;
  font-weight: 600;
  padding: 16px 0;
  border-radius: 0 0 4px 4px;
  overflow-x: scroll;
}

.league-banner__nav-container::-webkit-scrollbar {
  display: none;
}

.league-banner__nav-container img {
  padding-right: 8px;
}
.league-banner__nav-container > * {
  padding: 0 12px;
  margin: auto 0;
  min-width: fit-content;
}

.league-banner__nav-container > span:hover {
  color: var(--font-alert);
  position: relative;
}

.league-banner__nav-container > span:hover:after {
  content: "____________";
  position: absolute;
  color: var(--font-alert);
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0;
}

.league-banner__nav-container img {
  color: var(--font-alert);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  gap: 16px;
}

.card {
  border-radius: 4px;
  background-color: var(--font-color-light);
  padding: 24px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:first-child {
  grid-row: 1 / span 2;
}

.card__map {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.card__heading {
  padding: 0 0 16px 0;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid var(--font-color-light-400);
  font-style: italic;
}

.card__heading > img {
  object-fit: contain;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 8px;
}

.card:last-child img {
  background: var(--bg-dark);
}

.card__text-content {
  font-size: 1.2rem;
  padding: 16px 0 8px 0;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 44px);
  font-style: italic;
  margin: 24px 0 48px 0;

  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-row__heading {
  grid-column: 1 / -1;
  justify-self: center;
  background-color: var(--bg-dark);
  color: var(--font-color-light);
  font-size: 0.9rem;
  padding: auto 100%;
}

.table-row__heading img {
  background: var(--bg-dark);
}

.table-row__club-logo {
  object-fit: contain;
  height: 100%;
  padding: 4px;
}

.table-row__title {
  background: var(--bg-dark-050) 0% 0% no-repeat padding-box;
  color: var(--font-color-light);
}

.table-row__heading + .table-row__title {
  grid-column: 1/2;
}

/* added code  */
.table-row__date:nth-child(even),
.table-row__season:nth-child(odd),
.table-row__club-logo:nth-child(even),
.table-row__result:nth-child(odd) {
  background-color: var(--font-color-light);
}

.table-row__date {
  display: none;
}

.table-row__season {
}

@media screen and (min-width: 600px) {
  .league-banner__nav-container {
    justify-content: space-around;
  }

  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 8px 0;
  }

  .table-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 44px);
    border-radius: 4px;
  }

  .table-row__heading + .table-row__title {
    grid-column: 1/3;
    padding-left: 30%;
  }

  .table-row__date {
    display: flex;
    justify-content: left;
    padding-left: 4px;
  }
}
