@import "./variables.css";
@import "./global.css";
@import "./header.css";
@import "./breadcrumbs.css";
@import "./round-sidescroller.css";
@import "./league-banner.css";
@import "./footer.css";

.match {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;

  font-style:italic;

  background-color: var(--bg-primary);
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  height: 128px;

  box-shadow: var(--box-shadow);
}
.match p {
  color: var(--font-primary);
}

.match__home-team,
.match__away-team {
  display: flex;
  flex-flow: row wrap;
  align-content: center;

  width: 40%;
}

.match__home-team > img,
.match__away-team > img {
  object-fit: fill;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.match__home-team > .match__heading,
.match__away-team > .match__heading {
  text-align: center;
  font-size: 1rem;

  padding-top: 8px;
  margin: 0 ;
}

.match__home-team,
.match__away-team{
  align-self: center;
}

.match__home-team {
  flex-direction: column;
}
.match__away-team {
  flex-direction: column-reverse;
}

i.match__arrow {
  display: none;
}

.match__centered-info {
  text-align: center;
  font-style: italic;

  margin: auto 0;
}

.match__centered-info--live :first-child {
  color: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 600;
  font-size: small;

  background-color: var(--bg-alert);
  padding: 0.2rem;
  border-radius: 0.2rem;
  transform: skewX(-10deg);
}
.match__centered-info--live :nth-child(2) {
  color: var(--font-alert);
  font-weight: 800;
  
  padding: 0.2rem;
  font-size: 2rem;
}
.match__centered-info--live :last-child {
  color: var(--font-alert);
  font-size: 1rem;
  font-weight: 400;

  padding: 0.2rem;
}

.match__centered-info--scheduled :first-child {
  color: var(--font-tertiary);
  font-size: small;
}
.match__centered-info--scheduled :first-child > img {
  width: 10px;
  margin-right: 4px;
  margin: 0 auto;
}
.match__centered-info--scheduled :nth-child(2) {
  font-size: 0.8rem;
  font-weight: 800;

  padding: 1rem;
}
.match__centered-info--scheduled :last-child {
  font-size: 0.8rem;
}

.match__centered-info--results :first-child {
  color: var(--font-tertiary);
  font-size: small;
}
.match__centered-info--results :first-child > img {
  width: 10px;
  margin: 0 auto;
}
.match__centered-info--results :nth-child(2) {
  font-size: 2rem;
  font-weight: 800;

  padding: 0.2rem;
}
.match__centered-info--results :last-child {
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 600px) {
  .round-sidescroller {
    overflow-x: hidden;
  }

  .league-banner__nav-container {
    overflow-x: hidden;
    justify-content: space-between;
  }
  .match__home-team,
  .match__away-team {
    gap: 1rem;
    padding: 0 1rem;
  }

  .match__home-team {
    flex-direction: row;
    justify-content: start;
  }
  .match__away-team {
    flex-direction: row;
    justify-content: end;
  }

  .match__arrow {
    font-size: 2rem;
    margin: auto 0;
    display: block;
    align-self: center;
  }

  .match__home-team > .match__heading,
  .match__away-team > .match__heading {
    margin: auto 0;
    padding-top: 0;
  }

  .match__home-team > img,
  .match__away-team > img {
    margin: auto 0;
  }
}

@media (prefers-color-scheme: dark) {
  .match__centered-info--scheduled :first-child {
    color: var(--font-primary);
  }

  .match__centered-info--results :first-child {
    color: var(--font-primary);
  }
}
