@import "./variables.css";
@import "./global.css";
@import "./header.css";
@import "./footer.css";

* {
  padding: 0px;
  margin: 0px;
}

.breadcrumbs {
  color: var(--font-color-light-400);
  font-style: italic;
  font-weight: 500;
  margin: 32px 0;
}

.breadcrumbs > * {
  padding: 0 4px;
}

.round-sidescroller {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  font-style: italic;
  overflow-x: scroll;
}

.round-sidescroller > * {
  border-radius: 8px;
}

.round-sidescroller__round-indicator {
  background: #1c1d1d 0% 0% no-repeat padding-box;
  color: var(--font-color-light);
  min-width: 350px;
  text-align: center;
  padding: 16px 0;
  text-transform: uppercase;
}

.round-sidescroller__round-indicator > span {
  font-weight: 800;
}

.round-sidescroller__round-indicator > p {
  padding-top: 12px;
}

.round-sidescroller__match {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
  min-width: 250px;
}

.round-sidescroller__home-team,
.round-sidescroller__away-team {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: auto 0;
}

.round-sidescroller__home-team > img,
.round-sidescroller__away-team > img {
  object-fit: fill;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
}

.round-sidescroller__centered-info--live :first-child {
  background-color: var(--bg-alert);
  border-radius: 0.2rem;
  transform: skewX(-10deg);
  text-transform: uppercase;
  color: var(--font-color-light);
  padding: 0.2rem 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
.round-sidescroller__centered-info--live :nth-child(2) {
  color: var(--font-alert);
  font-weight: 800;
  padding: 0.2rem;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.round-sidescroller__centered-info--scheduled :nth-child(1) {
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
}
.round-sidescroller__centered-info--scheduled :last-child {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  padding-top: 6px;
}

.league-banner {
  border-radius: 8px;
  color: var(--font-color-light);
  margin-bottom: 16px;
}

.league-banner__header {
  font-style: italic;
  text-align: center;
  padding: 32px;
  background: transparent
    linear-gradient(104deg, #292a2a 0%, #000000 50%, #292a2a 50%, #111215 100%)
    0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0 0;
}
.league-banner__heading {
  padding: 12px;
  font-size: 2.5rem;
  font-weight: 900;
}
.league-banner__nav-container {
  background: #1c1d1d 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  padding: 16px 0;
  border-radius: 0 0 4px 4px;
  overflow-x: scroll;
}
.league-banner__nav-container img {
  padding-right: 8px;
}
.league-banner__nav-container > * {
  padding: 0 12px;
  margin: auto 0;
  min-width: fit-content;
}

.match {
  /* display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); */
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  padding: 1rem;
  height: 128px;
}

/* .match > * {
  border: 2px solid red;
} */

.match__home-team,
.match__away-team {
  display: flex;
  flex-flow: row wrap;
  align-content: center;

  width: 40%;
}

.match__home-team > img,
.match__away-team > img {
  object-fit: fill;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.match__home-team > .match__heading,
.match__away-team > .match__heading {
  margin: 0 0px;
  font-size: 1rem;
  font-style: italic;
  padding-top: 8px;
  text-align: center;
}

.match__home-team {
  justify-content: center;
  flex-direction: column;
}
.match__away-team {
  justify-content: center;
  flex-direction: column-reverse;
}

.match__arrow {
  display: none;
}

.match__centered-info {
  font-style: italic;
  margin: auto 0;
}

.match__centered-info--live :first-child {
  background-color: var(--bg-alert);
  border-radius: 0.2rem;
  transform: skewX(-10deg);
  text-transform: uppercase;
  color: var(--font-color-light);
  padding: 0.2rem;
  font-weight: 600;
  font-size: small;
  text-align: center;
}
.match__centered-info--live :nth-child(2) {
  color: var(--font-alert);
  font-weight: 800;
  padding: 0.2rem;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
}
.match__centered-info--live :last-child {
  color: var(--font-alert);
  font-weight: 400;
  padding: 0.2rem;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.match__centered-info--scheduled :first-child {
  color: var(--font-color-light-400);
  font-size: small;
  text-align: center;
}
.match__centered-info--scheduled :first-child > img {
  width: 10px;
  margin-right: 4px;
  margin: 0 auto;
}
.match__centered-info--scheduled :nth-child(2) {
  padding: 1rem;
  text-align: center;
  font-weight: 800;
  font-size: 0.8rem;
}
.match__centered-info--scheduled :last-child {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
}

.match__centered-info--results :first-child {
  color: var(--font-color-light-400);
  font-size: small;
  text-align: center;
}
.match__centered-info--results :first-child > img {
  width: 10px;
  margin-right: 4px;
  margin: 0 auto;
}
.match__centered-info--results :nth-child(2) {
  font-weight: 800;
  padding: 0.2rem;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
}
.match__centered-info--results :last-child {
  font-weight: 400;
  /* padding: 0.2rem; */
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

@media (min-width: 600px) {
  .round-sidescroller {
    overflow-x: hidden;
  }

  .league-banner__nav-container {
    overflow-x: hidden;
  }
  .match__home-team,
  .match__away-team {
    gap: 1rem;
    padding: 0 2rem;
  }

  .match__home-team {
    flex-direction: row;
    justify-content: start;
  }
  .match__away-team {
    flex-direction: row;
    justify-content: end;
  }

  .match__arrow {
    font-size: 2rem;
    margin: auto 0;
    display: block;
    align-self: center;
  }

  .match__home-team > .match__heading,
  .match__away-team > .match__heading {
    margin: auto 0;
    padding-top: 0;
  }

  .match__home-team > img,
  .match__away-team > img {
    margin: auto 0;
  }
}
