@import "./variables.css";
@import "./global.css";
@import "./header.css";
@import "./breadcrumbs.css";
@import "./round-sidescroller.css";
@import "./league-banner.css";
@import "./footer.css";

* {
  padding: 0px;
  margin: 0px;
}

.ticker-section-container {
  background-color: var(--bg-primary);
  padding: 24px;
  margin: 16px 0 64px 0;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ticker-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow-x: scroll;
  margin-bottom: 16px;
  font-style: italic;
  font-weight: 600;
  align-items: center;
}
.ticker-nav::-webkit-scrollbar {
  display: none;
}

.ticker-nav span {
  min-width: fit-content;
  padding: 16px 12px;
  border-radius: 4px;
  color: var(--font-primary);
  background-color: var(--bg-tertiary);
}

.ticker-nav img {
  object-fit: contain;
  width: 12px;
}

.ticker-nav input {
  background-color: var(--bg-primary);
  width: 100%;
  padding: 16px 8px 16px 32px;
  border: 2px solid var(--bg-tertiary);
  border-radius: 4px;
}

span.ticker-nav__input-span {
  width: 100%;
  position: relative;
  padding: 0px;
}

.ticker-nav input::placeholder {
  font-weight: 600;
  font-style: italic;
}

.ticker-nav__input-icon {
  object-fit: contain;
  position: absolute;
  top: 18px;
  left: 14px;
}

.ticker-update {
  position: relative;
  border-left: 1px dashed var(--bg-secondary-050);
  margin-left: 32px;
  border-bottom: 1px solid var(--bg-tertiary);
  padding: 24px;
}

.ticker-update__time {
  color: var(--font-primary);
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 600;
}

.ticker-update__heading {
  color: var(--font-primary);
  font-style: italic;
  padding: 12px 0;
}
.ticker-update__text-content {
  color: var(--font-primary);
  font-size: 1rem;
  padding: 4px 0;
}

.ticker-update span {
  background-color: var(--bg-primary);
}

.ticker-update__icon {
  position: absolute;
  max-width: 24px;
  min-width: 24px;
  max-height: 24px;
  min-height: 24px;
  padding: 4px;
  left: -12px;
  top: 18px;
}
.ticker-update__club-logo {
  background-color: var(--bg-primary);
  position: absolute;
  max-width: 28px;
  min-width: 28px;
  max-height: 28px;
  min-height: 28px;
  padding: 4px;
  left: -44px;
  top: 16px;
}

.ticker-update__btn-show-more {
  background-color: var(--bg-primary);
  color: var(--font-alert);
  border: 2px solid var(--font-alert);
  border-radius: 4px;
  font-style: italic;
  font-weight: 700;
  padding: 12px 48px;
  margin: 12px auto;
  display: flex;
  justify-self: center;
}

@media (prefers-color-scheme: dark) {
  .ticker-nav img {
    filter: invert(100%) sepia(5%) saturate(7487%) hue-rotate(300deg)
      brightness(106%) contrast(119%);
  }
  .ticker-nav input {
    color: var(--font-primary);
  }
  .ticker-nav input::placeholder {
    color: var(--font-primary);
  }
  .ticker-update {
    border-left: 1px dashed var(--font-primary);
  }
  .ticker-update__icon {
    filter: invert(100%) sepia(5%) saturate(7487%) hue-rotate(300deg)
      brightness(106%) contrast(119%);
  }
}

@media screen and (min-width: 600px) {
  .ticker-nav input {
    width: unset;
  }

  span.ticker-nav__input-span {
    width: unset;
  }
}
