@import "./variables.css";
@import "./global.css";
@import "./header.css";
@import "./footer.css";

.overview-section{
  letter-spacing: 0px;
  font-style: italic;
}

.sports-type {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  padding: 0.5rem 0;
  margin: 1.5rem;
}

.grid-container {
  display: grid;
}

.region-container{
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
}
.region__name {
  color: var(--font-secondary);
  background-color: var(--bg-secondary);
  padding: 0.8125rem 0 0.8125rem 1rem;
  margin: 0px;
}

.region__league-entry {
  display: flex;
  align-items: center;
  background-color: var(--bg-primary);
  padding: 0.2rem 0;
  border-bottom: 1px solid var(--bg-tertiary);
}

.region__league-name {
  color: var(--font-primary);
  padding: 0.375rem 0 0.375rem 0;
}
.region__league-logo {
  object-fit: fill;
  min-height: 4rem;
  max-height: 4rem;
  min-width: 4rem;
  max-width: 4rem;
  margin: 0.5rem 1rem;
}
.region__league-logo--generic {
  min-height: 2rem;
  max-height: 2rem;
  margin: 1.5rem 1rem;
}

@media screen and (prefers-color-scheme: dark) {
  .region__league-logo--generic{
    filter: var(--filter-black-to-white);
  }
  
}

@media (min-width: 600px) {
  .grid-container {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }
  .region-container {
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    overflow: hidden;
  }
}
