.round-sidescroller {
  display: flex;
  font-style: italic;
  overflow-x: scroll;
  gap: 8px;
  margin-bottom: 16px;
}

.round-sidescroller::-webkit-scrollbar {
  display: none;
}

.round-sidescroller > * {
  border-radius: 8px;
  
}

.round-sidescroller__round-indicator {
  color: var(--font-secondary);
  text-align: center;
  text-transform: uppercase;

  min-width: 200px;
  padding: 16px 0;
  background: var(--bg-secondary) 0% 0% no-repeat padding-box;
  
  box-shadow: var(--box-shadow);
}

.round-sidescroller__round-indicator > span {
  font-weight: 800;
}

.round-sidescroller__round-indicator > p {
  padding-top: 12px;
}

.round-sidescroller__match {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  min-width: 250px;
  background-color: var(--bg-primary);

  box-shadow: var(--box-shadow);
}
.round-sidescroller__match p {
  color: var(--font-primary);
}
.round-sidescroller__match--selected {
  background-color: var(--bg-secondary);
}

.round-sidescroller__match--selected h3 {
  color: var(--font-secondary);
}

.round-sidescroller__home-team,
.round-sidescroller__away-team {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: auto 0;
}

.round-sidescroller__home-team > img,
.round-sidescroller__away-team > img {
  object-fit: fill;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto 8px auto;
}

.round-sidescroller__centered-info{
  text-align: center;
  font-size: 1rem;
}

.round-sidescroller__centered-info--live :first-child {
  color: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 600;

  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  background-color: var(--bg-alert);
  transform: skewX(-10deg);
}
.round-sidescroller__centered-info--live :nth-child(2) {
  color: var(--font-alert);
  font-weight: 800;

  padding: 0.2rem;
}

.round-sidescroller__centered-info--scheduled :nth-child(1) {
  font-weight: 900;
}
.round-sidescroller__centered-info--scheduled :last-child { 
  padding-top: 6px;
}

@media (prefers-color-scheme: dark) {
  .round-sidescroller__match {
    border: 1px solid var(--font-primary);
  }
}

@media (min-width: 600px) {
  .round-sidescroller {
    overflow-x: hidden;
  }
  .round-sidescroller__round-indicator {
    min-width: 350px;
}
}