:root {
  --font-main: Arial, Helvetica, sans-serif;
  --font-primary: #161615;
  --font-secondary: #ffffff;
  --font-tertiary: #909090;

  --bg-alert: #e30613;
  --font-alert: #e30613;

  --bg-primary: #ffffff;
  --bg-secondary: #1c1d1d;
  --bg-secondary-050: #434343;
  --bg-tertiary: #eff0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-primary: #ffffff;
    --font-secondary: #1c1d1d;
    --font-tertiary: #909090;
    --bg-alert: #e30613;
    --font-alert: #e30613;
    --bg-primary: #434343;
    --bg-secondary: #ffffff;
    --bg-secondary-050: #434343;
    --bg-tertiary: #1c1d1d;
  }
}
